{# Header common to all pages, inheret from this to develop other header #}

<!DOCTYPE html>
<html>
    <head>
        {% block css %}
          <link href="css/bootstrap.css" rel="stylesheet" media="screen">
          <link href="css/common.css" rel="stylesheet" type="text/css"  />
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>

       
        {% block js %}
          <script type="text/javascript" src="lib/jquery-1.7.2.min.js"></script>
          <script type="text/javascript" src="lib/jquery.query.js"></script>
          <script type="text/javascript" src="lib/underscore-min.js"></script>
          <script type="text/javascript" src="lib/bootstrap.js"></script>
        {% endblock %}
    </head>
    <body>