{% include 'editor_header.html' %}


        <!-- canvas container -->
        <div id="container"></div>

        <!-- top toolbar (The fixed always there toolbar) -->
        <div id="toolbar" class="panel">
           <ul>
		
	    </ul>
        </div>

        <!-- builing selection (The sliding down toolbar containing the building ) -->
        <div id="buildingSelectionToolbar" class="panel">
            <ul>
               
            </ul>
        </div>

        <!-- tech stats info -->
        <div id="stats" class="panel">
            <ul>
		      <li>FPS: <span id="fps"></span></li>
              <p><h1>Drawn area</h1></p>
		      <li>RowStart: <span id="rowStart"></span></li>
		      <li>ColStart: <span id="colStart"></span></li>
              <li>RowEnd: <span id="rowEnd"></span></li>
		      <li>ColEnd: <span id="colEnd"></span></li>
		      <p><h1>Tile Info</h1></p>
		      <li>array size: <span id="arraySize"></span></li>
		      <li>occupied: <span id="occupied"></span></li>
		      <li>row: <span id="row"></span></li>
		      <li>col: <span id="col"></span></li>
	        </ul>
        </div>
	
		{% include 'building_tileset_panel.html' %}
	
   
{% include 'footer.html' %}