* { margin: 0; padding 0; }
html, body { height: 100%; width 100%; }

body {
    background: #fff;
    color: #fff;
    font-family: Verdana, Arial, san-serif;
    font-size: 18px;
    overflow: hidden
}

h {
    font-size: 30px;
}

p {
    margin: 0 20px;
}


.button {
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background: #2488f5;
    color: #fff;
    text-decoration: none;
}

.button {
    background: #185da8;
    border-radius: 5px;
}

#userSubmit {
    display: block;
    font-size: 30px;
    margin: 40px 0 0 270px;
    padding: 10px;
    width: 200px;
}

#ok, #cancel {
    font-size: 30px;
    padding: 10px;
    width: 150px;
    margin-top: 40px;
}


#menu {
    height: 600px;
    left: 50%; 
    top: 50%;
    margin: -300px 0 0 -400px;
    position: absolute; /* Places UI on top of the canvas */
    width: 800px;
}

#container {
	background: #000
}

#title h1 {
    text-align: center;
    margin: 10px auto;
    font-family: "Museo";
    font-size: 50px;
    color: #000;
}

#gameIntro {
    background: rgba(50, 50, 50, 0.3);
    margin-top: 100px;
    padding: 40px 0;
    text-align: center;
}


							/* Panels */

.panel {
    position    : absolute;
    background: #000;
    opacity: 0.4;
    visibility: hidden;
}

#stats {
    font-size: 12px;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
}

#stats h1 {
    font-size: 18px;
}

/* toolbar */

#toolbar {
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.7;
}

#toolbar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#toolbar li {
	cursor: pointer;
	float: left;
	width: 48px;
	height: 48px;
	margin-left: 10px;
	display: inline;
}


/* Right click menu for building tile selection */
#setBuildingTileSet {
    height: 800px;
    top: 10px;
    position: absolute;
    width: 400px;
    opacity: 0.7;
    visibility: hidden;
    background: #000;
    z-index:1;
    padding: 20px;
}

#setBuildingTileSet h1 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
}

#setBuildingTileSet h2 {
    font-size: 20px;
}



#buildingSelectionToolbar{
    top: 60px;
    left: 0px;
    height: 60px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.7;
}

#buildingSelectionToolbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#buildingSelectionToolbar li {
    cursor: pointer;
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    display: inline;
  
}
