
/* 
	Default tile selection
*/
#default_tiles_view {
    width: 490px;
    height: 160px;
    overflow-y: auto;
}

/* 
	Default tile upload form 
*/
#upload_form {
	text-align: left;
	display: inline-block;
}

#upload_form fieldset
{
	border-radius: 5px;
	margin-top: 25px;
}

#submit {
	float: right;
}


/* 
	Create map
*/
#create_map {
	margin-top: 30px;
}

/* --- */
.display_inline-block {
	display: inline-block;
}